<extend name="Base:base" />
<block name="body">
    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form">  
                  <div class="layui-form-item">
                      <label class="layui-form-label"><span class="x-red">*</span>所属模块</label>
                      <div class="layui-input-block" >
                        <select name="mod_id" lay-verify=""  lay-filter="mod_id">
                          <volist name="mod" id="vo">
                             <option value="{$vo.mod_id}" <eq name="vo.mod_id" value="$row['mod_id']"> selected </eq> > {$vo.mod_name} </option> 
                          </volist>
                        </select>
                      </div>
                  </div>

                  <div class="layui-form-item">
                      <input type="hidden" value="{$row.attr_id}" name="attr_id"/>
                      <label for="role_name" class="layui-form-label">
                          <span class="x-red">*</span>属性名称
                      </label>
                      <div class="layui-input-inline">
                          <input type="text" id="attr_name" name="attr_name"  lay-verify="attr_name"
                          autocomplete="off" class="layui-input" value="{$row.attr_name}">
                      </div>
                  </div>

                  <div class="layui-form-item">
                      <label class="layui-form-label"><span class="x-red">*</span>状态</label>
                      <div class="layui-input-block">
                         <input type="radio" name="status" value="1" title="正常" checked >
                         <input type="radio" name="status" value="0" title="禁用" <eq name="row.status" value="0">checked</eq>    >
                      
                      </div>
                  </div>

                  <input type="hidden" value="save" name="action"/>
                  <div class="layui-form-item">
                      <label for="L_repass" class="layui-form-label">
                      </label>
                      <button  class="layui-btn" lay-filter="add" lay-submit="">
                          提交
                      </button>
                  </div>
              </form>
            </div>
        </div>
        <script>
        layui.use(['form', 'layer'],
            function() {
                $ = layui.jquery;
                var form = layui.form,
                layer = layui.layer;
                //自定义验证规则
                form.verify({
                    attr_name:function(value){
                      if(value.length < 1){
                        return '属性名称不能为空';
                      }
                    }
                });
                //监听提交
                form.on('submit(add)',
                function(data) {
                    var url = "{:U('Mod/edit_mod_attr')}";
                    $.post(url,data.field,function(rs){
                      debugger;
                      if(rs.status==1){
                          //发异步，把数据提交给php
                          layer.alert(rs.msg, {
                              icon: 6
                          },
                          function() {
                              //关闭当前frame
                              xadmin.close();
                              // 可以对父窗口进行刷新 
                              xadmin.father_reload(); 
                          });
                      }else{
                        layer.msg(rs.msg); 
                      }
                    },"json");
                    return false;
                });
            });
      </script>
    </body>
</block>
