<extend name="Base:base" />
<block name="body">
  <body>
    <div class="layui-fluid">
      <div class="layui-row">
        <form class="layui-form">

          <div class="layui-form-item">
            <label for="username" class="layui-form-label">
              <span class="x-red">*</span>姓名
            </label>
            <div class="layui-input-inline">
              <input
                disabled
                type="text"
                id="username"
                name="username"
                lay-verify="required"
                autocomplete="off"
                value="{$row[0].username}"
                class="layui-input"
                style="width: 300px"
              />
            </div>
          </div>

          <div class="layui-form-item">
            <label for="item_name" class="layui-form-label">
              <span class="x-red">*</span>工程项目
            </label>
            <div class="layui-input-inline">
              <input
                disabled
                type="text"
                id="item_name"
                name="item_name"
                autocomplete="off"
                value="{$row[0].item_name}"
                class="layui-input"
                style="width: 300px"
              />
            </div>
          </div>

          <div class="layui-form-item">
            <label for="bank" class="layui-form-label">
              <span class="x-red">*</span>开户银行
            </label>
            <div class="layui-input-inline" style="width: 300px">
              <select id="bank" name="bank" lay-verify="" lay-search>
                <volist name="item" id="vo">
                  <option value="{$vo.attr_name}" <eq name="vo.attr_name" value="$row[0]['bank']"> selected </eq>  >{$vo.attr_name} </option> 
                </volist>
              </select>
            </div>
          </div>

          <div class="layui-form-item">
            <label for="bankcard" class="layui-form-label">
              <span class="x-red">*</span>银行卡账号
            </label>
            <div class="layui-input-inline">
              <input
                type="text"
                id="bankcard"
                name="bankcard"
                lay-verify="required"
                autocomplete="off"
                value="{$row[0].bankcard}"
                class="layui-input"
                style="width: 300px"
              />
            </div>
          </div>

          <div class="layui-form-item">
            <label for="area" class="layui-form-label">
              <span class="x-red">*</span>开户行省份
            </label>
            <div class="layui-input-inline" style="width: 300px">
              <select
                id="area"
                name="area"
                lay-verify=""
                lay-search
              >
              <volist name="item2" id="vo">
                <option value="{$vo.region_name}" <eq name="vo.region_name" value="$row[0]['area']"> selected </eq>  >{$vo.region_name} </option> 
              </volist>
            </select>
            </div>
          </div>

          <div class="layui-form-2" style="display: none;">
            <label for="id" class="layui-form-label"> id </label>
            <div class="layui-input-inline">
              <input
                type="text"
                id="id"
                name="id"
                autocomplete="off"
                value="{$row[0].id}"
                class="layui-input"
                style="width: 300px"
              />
            </div>
          </div>

          <div class="layui-form-item" style="display: none;">
            <label for="uid" class="layui-form-label"> uid </label>
            <div class="layui-input-inline">
              <input
                type="text"
                id="uid"
                name="uid"
                autocomplete="off"
                value="{$row[0].uid}"
                class="layui-input"
                style="width: 300px"
              />
            </div>
          </div>

          <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label"> </label>
            <button class="layui-btn" lay-filter="edit" lay-submit="">
              编辑
            </button>
          </div>
        </form>
      </div>
    </div>
    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <!-- 新增 -->
    <script>
      layui.use('laydate', function () {
        //执行一个laydate实例
        layui.laydate.render({
          elem: '#birthday', //指定元素
        })
      })
    </script>
    <script>
      layui.use('laydate', function () {
        //执行一个laydate实例
        layui.laydate.render({
          elem: '#work_date', //指定元素
        })
      })
    </script>
    <script>
      layui.use('laydate', function () {
        //执行一个laydate实例
        layui.laydate.render({
          elem: '#freedate', //指定元素
        })
      })
    </script>
    <script>
      layui.use('laydate', function () {
        //执行一个laydate实例
        layui.laydate.render({
          elem: '#entrydate', //指定元素
        })
      })
    </script>
    <script>
      layui.use('laydate', function () {
        //执行一个laydate实例
        layui.laydate.render({
          elem: '#leavedate', //指定元素
        })
      })
    </script>
    <script>
      //配置插件目录
      layui.config({
        base: '__PUBLIC__/mods/',
        version: '1.0',
      })
      //一般直接写在一个js文件中
      layui.use(['layarea'], function () {
        var layarea = layui.layarea

        layarea.render({
          elem: '#hjarea-picker',
          change: function (res) {
            //选择结果
            console.log(res)
          },
        })
      })
    </script>
    <script>
      //配置插件目录
      layui.config({
        base: '__PUBLIC__/mods/',
        version: '1.0',
      })
      //一般直接写在一个js文件中
      layui.use(['layarea'], function () {
        var layarea = layui.layarea

        layarea.render({
          elem: '#czarea-picker',
          change: function (res) {
            //选择结果
            console.log(res)
          },
        })
      })
    </script>
    <script>
      //配置插件目录
      layui.config({
        base: '__PUBLIC__/mods/',
        version: '1.0',
      })
      //一般直接写在一个js文件中
      layui.use(['layarea'], function () {
        var layarea = layui.layarea

        layarea.render({
          elem: '#lxarea-picker',
          change: function (res) {
            //选择结果
            console.log(res)
          },
        })
      })
    </script>
    <!-- 测试 -->
<script>
  layui.use(['form', 'layer'], function () {
    $ = layui.jquery
    var form = layui.form,
    layer = layui.layer

    //监听提交
    form.on('submit(edit)', function (data) {
      // debugger;
      var url = "{:U('First/bankcardsave')}"
            $.post(url,data.field,function (res) {
          if (res.status == 1) {
            layer.alert(res.msg,{icon: 6,},function () {
                //关闭当前frame
                xadmin.close()
                // 可以对父窗口进行刷新
                xadmin.father_reload()
              })
            } else {layer.msg(res.msg)}},'json')
      return false

      console.log(data)
      //发异步，把数据提交给php
      layer.alert(
        '编辑成功',
        {
          icon: 6,
        },
        function () {
          //关闭当前frame
          xadmin.close()
          // 可以对父窗口进行刷新
          xadmin.father_reload()
        }
      )
      return false
    })
  })
</script>
  </body>
</block>
