<table>
<tr>
  <th>工号</th>
  <th>姓名</th>
  <th>证件类型</th>
  <th>证件号码</th>
  <th>国籍(地区)</th>
  <th>性别</th>
  <th>出生日期</th>
  <th>人员状态</th>
  <th>任职受雇从业类型</th>
  <th>入职年度就业情形</th>
  <th>手机号码</th>
  <th>任职受雇从业日期</th>
  <th>离职日期</th>
  <th>是否残疾</th>
  <th>是否烈属</th>
  <th>是否孤老</th>
  <th>残疾证号</th>
  <th>烈属证号</th>
  <th>是否扣除减除费用</th>
  <th>个人投资额</th>
  <th>个人投资比例(%)</th>
  <th>备注</th>
  <th>中文名</th>
  <th>涉税事由</th>
  <th>出生国家(地区)</th>
  <th>首次入境时间</th>
  <th>预计离境时间<th>
  <th>其他证件类型</th>
  <th>其他证件号码</th>
  <th>户籍所在地（省）</th>
  <th>户籍所在地（市）</th>
  <th>户籍所在地（区县）</th>
  <th>户籍所在地（详细地址）</th>
  <th>经常居住地（省）</th>
  <th>经常居住地（市）</th>
  <th>经常居住地（区县）</th>
  <th>经常居住地（详细地址）</th>
  <th>联系地址（省）</th>
  <th>联系地址（市）</th>
  <th>联系地址（区县）</th>
  <th>联系地址（详细地址）</th>
  <th>电子邮箱</th>
  <th>学历</th>
  <th>开户银行</th>
  <th>银行账号</th>
  <th>开户行省份</th>
  <th>职务</th>
</tr>
<volist  name="rows" id="row">
 <tr>
  <th>{$row.job_no}</th>
  <th>{$row.username}</th>
  <th>{$row.idstype}</th>
  <th>{$row.idsnum}</th>
  <th>{$row.country}</th>
  <th>{$row.sex}</th>
  <th>{$row.birthday}</th>
  <th>{$row.status}</th>
  <th>{$row.work_type}</th>
  <th>{$row.job_type}</th>
  <th>{$row.phone}</th>
  <th>{$row.work_date}</th>
  <th>{$row.freedate}</th>
  <th>{$row.is_disabled}</th>
  <th>{$row.is_ls}</th>
  <th>{$row.is_alone}</th>
  <th>{$row.disablednum}</th>
  <th>{$row.lsnum}</th>
  <th>{$row.is_deduct}</th>
  <th>{$row.investment}</th>
  <th>{$row.proportion}</th>
  <th>{$row.note}</th>
  <th>{$row.cname}</th>
  <th>{$row.matter}</th>
  <th>{$row.country2}</th>
  <th>{$row.entrydate}</th>
  <th>{$row.leavedate}<th>
  <th>{$row.other_type}</th>
  <th>{$row.other_type_name}</th>
  <th>{$row.hjaddress1}</th>
  <th>{$row.hjaddress2}</th>
  <th>{$row.hjaddress3}</th>
  <th>{$row.hjaddress}</th>
  <th>{$row.czaddress1}</th>
  <th>{$row.czaddress2}</th>
  <th>{$row.czaddress3}</th>
  <th>{$row.czaddress}</th>
  <th>{$row.lxaddress1}</th>
  <th>{$row.lxaddress2}</th>
  <th>{$row.lxaddress3}</th>
  <th>{$row.lxaddress}</th>
  <th>{$row.email}</th>
  <th>{$row.education}</th>
  <th>{$row.bank}</th>
  <th>{$row.bankcard}</th>
  <th>{$row.area}</th>
  <th>{$row.job_type}</th>
</tr>
</volist>
</table>