<table>
<tr>

  <th>工号</th>
  <th>姓名</th>
  <th>证件类型</th>
  <th>证件号码</th>
  <th>本期收入</th>
  <th>本期免税收入</th>
  <th>基本养老保险费</th>
  <th>基本医疗保险费</th>
  <th>失业保险费</th>
  <th>住房公积金</th>
  <th>累计子女教育</th>
  <th>累计继续教育</th>
  <th>累计住房贷款利息</th>
  <th>累计住房租金</th>
  <th>企业(职业)年金</th>
  <th>商业健康保险</th>
  <th>税延养老保险</th>
  <th>其他</th>
  <th>准予扣除的捐赠额</th>
  <th>减免税额</th>
  <th>备注</th>
</tr>
<volist  name="rows" id="row">
 <tr>
  <th>{$row.job_no}</th>
  <th>{$row.username}</th>
  <th>{$row.idstype}</th>
  <th>{$row.idsnum}</th>
  <th>{$row.allmoney}</th>
  <th>{$row.eip}</th>
  <th>{$row.mip}</th>
  <th>{$row.pmoney}</th>
  <th>{$row.zfmoney}</th>
  <th>{$row.jzmoney}</th>
  <th>{$row.jzmoney2}</th>
  <th>{$row.interest}</th>
  <th>{$row.homemoney}</th>
  <th>{$row.oldmoney}</th>
  <th>{$row.bmoney}</th>
  <th>{$row.hmoney}</th>
  <th>{$row.symoney}</th>
  <th>{$row.othermonry}</th>
  <th>{$row.jzemoney}</th>
  <th>{$row.jmsmoney}</th>
  <th>{$row.note}</th>
</tr>
</volist>
</table>